/workspace-TSP/TSPArt/TSPArt-grailsPlugins.iml
/workspace-TSP/TSPArt/TSPArt.iml
/workspace-TSP/TSPArt/target/.ignore
/workspace-TSP/TSPArt/.idea/.name
/workspace-TSP/TSPArt/.idea/ant.xml
/workspace-TSP/TSPArt/.idea/compiler.xml
/workspace-TSP/TSPArt/.idea/encodings.xml
/workspace-TSP/TSPArt/.idea/misc.xml
/workspace-TSP/TSPArt/.idea/modules.xml
/workspace-TSP/TSPArt/.idea/scopes/scope_settings.xml
/workspace-TSP/TSPArt/.idea/vcs.xml
/workspace-TSP/TSPArt/.idea/workspace.xml
/theory/self_printing/a.out
/workspace-TSP/.metadata/.log
*.metadata*
*Servers*
*target-eclipse*
OS_Project/*.o
OS_Project/a.out
*.class
