/research/research_software/grep-2.10/src/.deps/*
/research/research_software/grep-2.10/lib/.deps/*
/research/research_software/grep-2.10.tar.xz
/research/research_software/grep-2.11/lib/.deps/*
/research/research_software/grep-2.11/gnulib-tests/.deps/*
*.a
*.o
*.vcg
*.nccout
*.cfg
/research/research_software/gnulib-tests/anytostr.c/source
/research/research_software/gnulib-tests/*
/research/research_software/build-aux/*
/research/research_software/grep-2.10/gnulib-tests/*
/research/pin/source/tools/IvanPinTool2/test.out
/research/pin/source/tools/IvanPinTool2/test.c
/research/pin/source/tools/IvanPinTool2/pin.log
/research/pin/source/tools/IvanPinTool2/pintool.log
/interview_prep/a.out
/research/pin/source/tools/IvanPinTool/dmtcp_checkpoint
/research/pin/source/tools/IvanPinTool/dmtcp_coordinator
/research/pin/source/tools/IvanPinTool/dmtcp_restart
/research/pin/source/tools/IvanPinTool/dmtcphijack.so
/research/pin/source/tools/IvanPinTool/file
/research/pin/source/tools/IvanPinTool/libdmtcpaware.so.1.0.0
/research/pin/source/tools/IvanPinTool/pin.log
/research/pin/source/tools/IvanPinTool/testapp.s
/research/pin/source/tools/AVX2/gatherdpd_intel64_l.exe
/research/pin/source/tools/AVX2/gatherdpd_intel64_w.exe
/research/pin/source/tools/AVX2/gatherdps_for_rewrite_add4_app_ia32_w.exe
/research/pin/source/tools/AVX2/gatherdps_for_rewrite_add4_app_intel64_w.exe
/research/pin/source/tools/AVX2/gatherdps_ia32_l.exe
/research/pin/source/tools/AVX2/gatherdps_ia32_w.exe
/research/pin/source/tools/AVX2/gatherdps_intel64_l.exe
/research/pin/source/tools/ManualExamples/elfoutput
/research/pin/source/tools/ManualExamples/obj-intel64/proccount.o
/research/pin/source/tools/ManualExamples/obj-intel64/proccount.so
/research/pin/source/tools/ManualExamples/obj-intel64/replacesigprobed.o
/research/pin/source/tools/ManualExamples/obj-intel64/replacesigprobed.so
/research/pin/source/tools/ManualExamples/obj-intel64/safecopy.o
/research/pin/source/tools/ManualExamples/obj-intel64/safecopy.so
/research/pin/source/tools/ManualExamples/obj-intel64/stack-debugger.o
/research/pin/source/tools/ManualExamples/obj-intel64/stack-debugger.so
/research/pin/source/tools/ManualExamples/obj-intel64/statica.o
/research/pin/source/tools/ManualExamples/obj-intel64/staticcount.o
/research/pin/source/tools/ManualExamples/obj-intel64/staticcount.so
/research/pin/source/tools/ManualExamples/obj-intel64/strace.o
/research/pin/source/tools/ManualExamples/obj-intel64/strace.so
/research/pin/source/tools/ManualExamples/test.out
/research/pin/source/tools/ManualExamples/test2.o
/research/pin/source/tools/Probes/obj-intel64/arglist.o
/research/pin/source/tools/Probes/obj-intel64/code_range.o
/research/pin/source/tools/Probes/obj-intel64/code_range.so
/research/pin/source/tools/Probes/obj-intel64/context_probe.o
/research/pin/source/tools/Probes/obj-intel64/context_probe.so
/research/pin/source/tools/Probes/obj-intel64/debugtest.o
/research/pin/source/tools/Probes/obj-intel64/debugtest.so
/research/pin/source/tools/Probes/obj-intel64/do_nothing_lin64.o
/research/pin/source/tools/Probes/obj-intel64/error-lin-jit.o
/research/pin/source/tools/Probes/obj-intel64/error-lin-jit.so
/research/pin/source/tools/Probes/obj-intel64/error-lin-probe.o
/research/pin/source/tools/Probes/obj-intel64/error-lin-probe.so
/research/pin/source/tools/Probes/obj-intel64/exception_in_dll_tool.o
/research/pin/source/tools/Probes/obj-intel64/exception_in_dll_tool.so
/research/pin/source/tools/Probes/obj-intel64/exception_in_mt_attach.o
/research/pin/source/tools/Probes/obj-intel64/exception_in_mt_attach.so
/research/pin/source/tools/Probes/obj-intel64/exception_in_probe_on_probe.o
/research/pin/source/tools/Probes/obj-intel64/exception_in_probe_on_probe.so
/research/pin/source/tools/Probes/obj-intel64/exception_in_probe_on_probe_sig.o
/research/pin/source/tools/Probes/obj-intel64/exception_in_probe_on_probe_sig.so
/research/pin/source/tools/Probes/obj-intel64/exception_in_probed_call_after.o
/research/pin/source/tools/Probes/obj-intel64/exception_in_probed_call_after.so
/research/pin/source/tools/Probes/obj-intel64/exception_in_probed_call_sig.o
/research/pin/source/tools/Probes/obj-intel64/exception_in_probed_call_sig.so
/research/pin/source/tools/Probes/obj-intel64/exit_repl.o
/research/pin/source/tools/Probes/obj-intel64/exit_repl.so
/research/pin/source/tools/Probes/obj-intel64/getstack_ia32e.o
/research/pin/source/tools/Probes/obj-intel64/init.o
/research/pin/source/tools/Probes/obj-intel64/init.so
/research/pin/source/tools/Probes/obj-intel64/insert1.o
/research/pin/source/tools/Probes/obj-intel64/insert1.so
/research/pin/source/tools/Probes/obj-intel64/insert10.o
/research/pin/source/tools/Probes/obj-intel64/insert10.so
/research/pin/source/tools/Probes/obj-intel64/insert11.o
/research/pin/source/tools/Probes/obj-intel64/insert11.so
/research/pin/source/tools/Probes/obj-intel64/insert12.o
/research/pin/source/tools/Probes/obj-intel64/insert12.so
/research/pin/source/tools/Probes/obj-intel64/insert2.o
/research/pin/source/tools/Probes/obj-intel64/insert2.so
/research/pin/source/tools/Probes/obj-intel64/insert3.o
/research/pin/source/tools/Probes/obj-intel64/insert3.so
/research/pin/source/tools/Probes/obj-intel64/insert4.o
/research/pin/source/tools/Probes/obj-intel64/insert4.so
/research/pin/source/tools/Probes/obj-intel64/insert5.o
/research/pin/source/tools/Probes/obj-intel64/insert5.so
/research/pin/source/tools/Probes/obj-intel64/insert6.o
/research/pin/source/tools/Probes/obj-intel64/insert6.so
/research/pin/source/tools/Probes/obj-intel64/insert7.o
/research/pin/source/tools/Probes/obj-intel64/insert7.so
/research/pin/source/tools/Probes/obj-intel64/insert8.o
/research/pin/source/tools/Probes/obj-intel64/insert8.so
/research/pin/source/tools/Probes/obj-intel64/insert9.o
/research/pin/source/tools/Probes/obj-intel64/insert9.so
/research/pin/source/tools/Probes/obj-intel64/insert_call_probed.o
/research/pin/source/tools/Probes/obj-intel64/insert_call_probed.so
/research/pin/source/tools/Probes/obj-intel64/iprtool.o
/research/pin/source/tools/Probes/obj-intel64/iprtool.so
/research/pin/source/tools/Probes/obj-intel64/libarglist.a
/research/pin/source/tools/Probes/obj-intel64/libexc.so
/research/pin/source/tools/Probes/obj-intel64/libone.so
/research/pin/source/tools/Probes/obj-intel64/load_map.o
/research/pin/source/tools/Probes/obj-intel64/load_map.so
/research/pin/source/tools/Probes/obj-intel64/local_branch_lin64.o
/research/pin/source/tools/Probes/obj-intel64/malloctrace2.o
/research/pin/source/tools/Probes/obj-intel64/malloctrace2.so
/research/pin/source/tools/Probes/obj-intel64/malloctrace_locktest.o
/research/pin/source/tools/Probes/obj-intel64/malloctrace_locktest.so
/research/pin/source/tools/Probes/obj-intel64/pc64.o
/research/pin/source/tools/Probes/obj-intel64/probe1.o
/research/pin/source/tools/Probes/obj-intel64/probe1.so
/research/pin/source/tools/Probes/obj-intel64/probe10.o
/research/pin/source/tools/Probes/obj-intel64/probe10.so
/research/pin/source/tools/Probes/obj-intel64/probe2.o
/research/pin/source/tools/Probes/obj-intel64/probe2.so
/research/pin/source/tools/Probes/obj-intel64/probe3.o
/research/pin/source/tools/Probes/obj-intel64/probe3.so
/research/pin/source/tools/Probes/obj-intel64/probe4.o
/research/pin/source/tools/Probes/obj-intel64/probe4.so
/research/pin/source/tools/Probes/obj-intel64/probe5.o
/research/pin/source/tools/Probes/obj-intel64/probe5.so
/research/pin/source/tools/Probes/obj-intel64/probe6.o
/research/pin/source/tools/Probes/obj-intel64/probe6.so
/research/pin/source/tools/Probes/obj-intel64/probe7.o
/research/pin/source/tools/Probes/obj-intel64/probe7.so
/research/pin/source/tools/Probes/obj-intel64/probe8.o
/research/pin/source/tools/Probes/obj-intel64/probe8.so
/research/pin/source/tools/Probes/obj-intel64/probe9.o
/research/pin/source/tools/Probes/obj-intel64/probe9.so
/research/pin/source/tools/Probes/obj-intel64/probe_close.o
/research/pin/source/tools/Probes/obj-intel64/probe_close.so
/research/pin/source/tools/Probes/obj-intel64/probe_err1.o
/research/pin/source/tools/Probes/obj-intel64/probe_err1.so
/research/pin/source/tools/Probes/obj-intel64/probe_err2.o
/research/pin/source/tools/Probes/obj-intel64/probe_err2.so
/research/pin/source/tools/Probes/obj-intel64/probe_err4.o
/research/pin/source/tools/Probes/obj-intel64/probe_err4.so
/research/pin/source/tools/Probes/obj-intel64/probe_err5.o
/research/pin/source/tools/Probes/obj-intel64/probe_err5.so
/research/pin/source/tools/Probes/obj-intel64/probe_err6.o
/research/pin/source/tools/Probes/obj-intel64/probe_err6.so
/research/pin/source/tools/Probes/obj-intel64/probe_movip.o
/research/pin/source/tools/Probes/obj-intel64/probe_movip.so
/research/pin/source/tools/Probes/obj-intel64/probe_on_probe1.o
/research/pin/source/tools/Probes/obj-intel64/probe_on_probe1.so
/research/pin/source/tools/Probes/obj-intel64/probemalloctrace.o
/research/pin/source/tools/Probes/obj-intel64/probemalloctrace.so
/research/pin/source/tools/Probes/obj-intel64/probesafetest.o
/research/pin/source/tools/Probes/obj-intel64/probesafetest.so
/research/pin/source/tools/Probes/obj-intel64/probesleep.o
/research/pin/source/tools/Probes/obj-intel64/probesleep.so
/research/pin/source/tools/Probes/obj-intel64/proto1.o
/research/pin/source/tools/Probes/obj-intel64/proto1.so
/research/pin/source/tools/Probes/obj-intel64/proto2.o
/research/pin/source/tools/Probes/obj-intel64/proto2.so
/research/pin/source/tools/Probes/obj-intel64/proto3.o
/research/pin/source/tools/Probes/obj-intel64/proto3.so
/research/pin/source/tools/Probes/obj-intel64/proto4.o
/research/pin/source/tools/Probes/obj-intel64/proto4.so
/research/pin/source/tools/Probes/obj-intel64/pthread_exit_tool.o
/research/pin/source/tools/Probes/obj-intel64/pthread_exit_tool.so
/research/pin/source/tools/Probes/obj-intel64/relocate_asm_ia32e.o
/research/pin/source/tools/Probes/obj-intel64/relocate_rtn.o
/research/pin/source/tools/Probes/obj-intel64/relocate_rtn.so
/research/pin/source/tools/Probes/obj-intel64/remove_probe.o
/research/pin/source/tools/Probes/obj-intel64/remove_probe.so
/research/pin/source/tools/Probes/obj-intel64/remove_probe2.o
/research/pin/source/tools/Probes/obj-intel64/remove_probe2.so
/research/pin/source/tools/Probes/obj-intel64/replace_empty.o
/research/pin/source/tools/Probes/obj-intel64/replace_empty.so
/research/pin/source/tools/Probes/obj-intel64/replace_exit.o
/research/pin/source/tools/Probes/obj-intel64/replace_exit.so
/research/pin/source/tools/Probes/obj-intel64/replacesig_empty.o
/research/pin/source/tools/Probes/obj-intel64/replacesig_empty.so
/research/pin/source/tools/Probes/obj-intel64/scan_all_rtns_for_probe.o
/research/pin/source/tools/Probes/obj-intel64/scan_all_rtns_for_probe.so
/research/pin/source/tools/Probes/obj-intel64/sectest.o
/research/pin/source/tools/Probes/obj-intel64/sectest.so
/research/pin/source/tools/Probes/obj-intel64/sempost_repl.o
/research/pin/source/tools/Probes/obj-intel64/sempost_repl.so
/research/pin/source/tools/Probes/obj-intel64/simplesp.o
/research/pin/source/tools/Probes/obj-intel64/spinlock_insert.o
/research/pin/source/tools/Probes/obj-intel64/spinlock_insert.so
/research/pin/source/tools/Probes/obj-intel64/spinlock_repl.o
/research/pin/source/tools/Probes/obj-intel64/spinlock_repl.so
/research/pin/source/tools/Probes/obj-intel64/spinlock_replsig.o
/research/pin/source/tools/Probes/obj-intel64/spinlock_replsig.so
/research/pin/source/tools/Probes/obj-intel64/svcraw_repl.o
/research/pin/source/tools/Probes/obj-intel64/svcraw_repl.so
/research/pin/source/tools/Probes/obj-intel64/symbolnames.o
/research/pin/source/tools/Probes/obj-intel64/symbolnames.so
/research/pin/source/tools/Probes/obj-intel64/syscall_in_probe.o
/research/pin/source/tools/Probes/obj-intel64/syscall_in_probe.so
/research/pin/source/tools/Probes/obj-intel64/syscall_yield64.o
/research/pin/source/tools/Probes/obj-intel64/tpss_lin.o
/research/pin/source/tools/Probes/obj-intel64/tpss_lin.so
/research/pin/source/tools/Probes/obj-intel64/unix_parent_tool.o
/research/pin/source/tools/Probes/obj-intel64/unix_parent_tool.so
/research/pin/source/tools/SimpleExamples/obj-intel64/calltrace.o
/research/pin/source/tools/SimpleExamples/obj-intel64/calltrace.so
/research/pin/source/tools/SimpleExamples/obj-intel64/catmix.o
/research/pin/source/tools/SimpleExamples/obj-intel64/catmix.so
/research/pin/source/tools/SimpleExamples/obj-intel64/coco.o
/research/pin/source/tools/SimpleExamples/obj-intel64/coco.so
/research/pin/source/tools/SimpleExamples/obj-intel64/dcache.o
/research/pin/source/tools/SimpleExamples/obj-intel64/dcache.so
/research/pin/source/tools/SimpleExamples/obj-intel64/edgcnt.o
/research/pin/source/tools/SimpleExamples/obj-intel64/edgcnt.so
/research/pin/source/tools/SimpleExamples/obj-intel64/extmix.o
/research/pin/source/tools/SimpleExamples/obj-intel64/extmix.so
/research/pin/source/tools/SimpleExamples/obj-intel64/fence.o
/research/pin/source/tools/SimpleExamples/obj-intel64/fence.so
/research/pin/source/tools/SimpleExamples/obj-intel64/get_source_location.o
/research/pin/source/tools/SimpleExamples/obj-intel64/get_source_location.so
/research/pin/source/tools/SimpleExamples/obj-intel64/icount.o
/research/pin/source/tools/SimpleExamples/obj-intel64/icount.so
/research/pin/source/tools/SimpleExamples/obj-intel64/ilenmix.o
/research/pin/source/tools/SimpleExamples/obj-intel64/ilenmix.so
/research/pin/source/tools/SimpleExamples/obj-intel64/inscount2_mt.o
/research/pin/source/tools/SimpleExamples/obj-intel64/inscount2_mt.so
/research/pin/source/tools/SimpleExamples/obj-intel64/inscount2_vregs.o
/research/pin/source/tools/SimpleExamples/obj-intel64/inscount2_vregs.so
/research/pin/source/tools/SimpleExamples/obj-intel64/jumpmix.o
/research/pin/source/tools/SimpleExamples/obj-intel64/jumpmix.so
/research/pin/source/tools/SimpleExamples/obj-intel64/ldstmix.o
/research/pin/source/tools/SimpleExamples/obj-intel64/ldstmix.so
/research/pin/source/tools/SimpleExamples/obj-intel64/malloctrace.o
/research/pin/source/tools/SimpleExamples/obj-intel64/malloctrace.so
/research/pin/source/tools/SimpleExamples/obj-intel64/opcodemix.o
/research/pin/source/tools/SimpleExamples/obj-intel64/opcodemix.so
/research/pin/source/tools/SimpleExamples/obj-intel64/pinatrace.o
/research/pin/source/tools/SimpleExamples/obj-intel64/pinatrace.so
/research/pin/source/tools/SimpleExamples/obj-intel64/regmix.o
/research/pin/source/tools/SimpleExamples/obj-intel64/regmix.so
/research/pin/source/tools/SimpleExamples/obj-intel64/topopcode.o
/research/pin/source/tools/SimpleExamples/obj-intel64/topopcode.so
/research/pin/source/tools/SimpleExamples/obj-intel64/toprtn.o
/research/pin/source/tools/SimpleExamples/obj-intel64/toprtn.so
/research/pin/source/tools/SimpleExamples/obj-intel64/trace.o
/research/pin/source/tools/SimpleExamples/obj-intel64/trace.so
/research/pin/source/tools/SimpleExamples/obj-intel64/xed-cache.o
/research/pin/source/tools/SimpleExamples/obj-intel64/xed-cache.so
/research/pin/source/tools/SimpleExamples/obj-intel64/xed-print.o
/research/pin/source/tools/SimpleExamples/obj-intel64/xed-print.so
/research/pin/source/tools/SimpleExamples/obj-intel64/xed-use.o
/research/pin/source/tools/SimpleExamples/obj-intel64/xed-use.so
/research/pin/source/tools/ToolUnitTests/tsx_emu1_ia32_w.exe
/research/pin/source/tools/ToolUnitTests/tsx_emu1_ia32e_w.exe
/research/pin/source/tools/ToolUnitTests/tsx_emu2_ia32_w.exe
/research/pin/source/tools/ToolUnitTests/tsx_emu2_ia32e_w.exe
/research/pin/source/tools/ToolUnitTests/tsx_xtest1.exe
/research/pin/source/tools/ToolUnitTests/tsx_xtest2_emu_ia32_w.exe
/research/pin/source/tools/ToolUnitTests/tsx_xtest2_emu_ia32e_w.exe
/research/pin/source/tools/Tsx/hlet1_app_Intel64_w.exe
/research/pin/source/tools/Tsx/hlet1_app_ia32_w.exe
/research/pin/source/tools/Tsx/hlet2_app_Intel64_w.exe
/research/pin/source/tools/Tsx/hlet2_app_ia32_w.exe
/research/pin/source/tools/Tsx/hlet3_app_Intel64_w.exe
/research/pin/source/tools/Tsx/hlet3_app_ia32_w.exe
/research/pin/source/tools/Tsx/hlet4_app_Intel64_w.exe
/research/pin/source/tools/Tsx/hlet4_app_ia32_w.exe
/research/pin/source/tools/Tsx/hlet5_app_Intel64_w.exe
/research/pin/source/tools/Tsx/hlet5_app_ia32_w.exe
/research/pin/source/tools/Tsx/hlet6_app_Intel64_w.exe
/research/pin/source/tools/Tsx/hlet6_app_ia32_w.exe
/research/pin/source/tools/Tsx/tsx1t_app_Intel64_w.exe
/research/pin/source/tools/Tsx/tsx2t_app_Intel64_w.exe
/research/pin/source/tools/Tsx/tsx2t_app_ia32_w.exe
/research/pin/source/tools/Tsx/tsx3t_app_Intel64_w.exe
/research/pin/source/tools/Tsx/tsx4t_app_Intel64_w.exe
/research/pin/source/tools/ManualExamples/obj-intel64/isampling.o
/research/pin/source/tools/ManualExamples/obj-intel64/isampling.so
/research/pin/source/tools/ManualExamples/obj-intel64/itrace.o
/research/pin/source/tools/ManualExamples/obj-intel64/itrace.so
/research/pin/source/tools/ManualExamples/obj-intel64/malloc_mt.o
/research/pin/source/tools/ManualExamples/obj-intel64/malloc_mt.so
/research/pin/source/tools/ManualExamples/obj-intel64/malloctrace.o
/research/pin/source/tools/ManualExamples/obj-intel64/malloctrace.so
/research/pin/source/tools/ManualExamples/obj-intel64/nonstatica.o
/research/pin/source/tools/ManualExamples/obj-intel64/nonstatica.so
/research/pin/source/tools/ManualExamples/obj-intel64/pinatrace.o
/research/pin/source/tools/ManualExamples/obj-intel64/pinatrace.so
/research/pin/source/tools/ManualExamples/obj-intel64/imageload.o
/research/pin/source/tools/ManualExamples/obj-intel64/imageload.so
/research/pin/source/tools/ManualExamples/obj-intel64/inscount0.o
/research/pin/source/tools/ManualExamples/obj-intel64/inscount0.so
/research/pin/source/tools/ManualExamples/obj-intel64/inscount1.o
/research/pin/source/tools/ManualExamples/obj-intel64/inscount1.so
/research/pin/source/tools/ManualExamples/obj-intel64/inscount2.o
/research/pin/source/tools/ManualExamples/obj-intel64/inscount2.so
/research/pin/source/tools/ManualExamples/obj-intel64/inscount_tls.o
/research/pin/source/tools/ManualExamples/obj-intel64/inscount_tls.so
/research/pin/source/tools/ManualExamples/obj-intel64/invocation.o
/research/pin/source/tools/ManualExamples/obj-intel64/invocation.so
/research/pin/source/tools/ManualExamples/obj-intel64/buffer-lin.o
/research/pin/source/tools/ManualExamples/obj-intel64/buffer-lin.so
/research/pin/source/tools/ManualExamples/obj-intel64/countreps.o
/research/pin/source/tools/ManualExamples/obj-intel64/countreps.so
/research/pin/source/tools/ManualExamples/obj-intel64/detach.o
/research/pin/source/tools/ManualExamples/obj-intel64/detach.so
/research/pin/source/tools/ManualExamples/obj-intel64/emudiv.o
/research/pin/source/tools/ManualExamples/obj-intel64/emudiv.so
/research/pin/source/tools/ManualExamples/obj-intel64/follow_child_tool.o
/research/pin/source/tools/ManualExamples/obj-intel64/follow_child_tool.so
/research/pin/source/tools/ManualExamples/obj-intel64/fork_jit_tool.o
/research/pin/source/tools/ManualExamples/obj-intel64/fork_jit_tool.so
/research/pin/source/tools/DebugTrace/obj-intel64/debugtrace.o
/research/pin/source/tools/DebugTrace/obj-intel64/debugtrace.so
/research/pin/source/tools/IvanPinTool/liboverride.so
/research/pin/source/tools/IvanPinTool/obj-intel64/IvanPinTool.o
/research/pin/source/tools/IvanPinTool/obj-intel64/IvanPinTool.so
/research/pin/source/tools/IvanPinTool/obj-intel64/cp-pin.exe
/research/pin/source/tools/AVX2/gatherdps_intel64_w.exe
/research/pin/source/tools/AVX2/gatherqpd_for_rewrite_add4_app_ia32_w.exe
/research/pin/source/tools/AVX2/gatherqpd_for_rewrite_add4_app_intel64_w.exe
/research/pin/source/tools/AVX2/gatherqpd_ia32_l.exe
/research/pin/source/tools/AVX2/gatherqpd_ia32_w.exe
/research/pin/source/tools/AVX2/gatherqpd_intel64_l.exe
/research/pin/source/tools/AVX2/gatherqpd_intel64_w.exe
/research/pin/source/tools/AVX2/gatherqps_for_rewrite_add4_app_ia32_w.exe
/research/pin/source/tools/AVX2/gatherqps_for_rewrite_add4_app_intel64_w.exe
/research/pin/source/tools/AVX2/gatherqps_ia32_l.exe
/research/pin/source/tools/AVX2/gatherqps_ia32_w.exe
/research/pin/source/tools/AVX2/gatherqps_intel64_l.exe
/research/pin/source/tools/AVX2/gatherqps_intel64_w.exe
/research/pin/source/tools/AVX2/gather.exe
/research/pin/source/tools/AVX2/gather_for_rewrite1_intel64_w.exe
/research/pin/source/tools/AVX2/gather_for_rewrite_add4_app_intel64_w.exe
/research/pin/source/tools/AVX2/gather_ia32_l.exe
/research/pin/source/tools/AVX2/gather_ia32_w.exe
/research/pin/source/tools/AVX2/gather_intel64_l.exe
/research/pin/source/tools/AVX2/gather_intel64_w.exe
/research/pin/source/tools/AVX2/gather_with_exception_ia32_w.exe
/research/pin/source/tools/AVX2/gather_with_exception_intel64_w.exe
/research/pin/source/tools/AVX2/gatherdpd_for_rewrite_add4_app_ia32_w.exe
/research/pin/source/tools/AVX2/gatherdpd_for_rewrite_add4_app_intel64_w.exe
/research/pin/source/tools/AVX2/gatherdpd_ia32_l.exe
/research/pin/source/tools/AVX2/gatherdpd_ia32_w.exe
/research/pin/source/tools/AVX/gather_ia32_l.exe
/research/pin/source/tools/AVX/gather_ia32_w.exe
/research/pin/source/tools/AVX/gather_intel64_l.exe
/research/pin/source/tools/AVX/gather_intel64_w.exe
/research/pin/source/tools/AVX/gather_with_exception_ia32_w.exe
/research/pin/source/tools/AVX/gather_with_exception_intel64_w.exe
/research/pin/source/tools/AVX/*.exe
/research/pin/doc/html/classDEBUGGER__SHELL_1_1ICUSTOM__INSTRUMENTOR-members.html
*/source/tools/*.o
*/source/tools/*.so
*/source/tools/*.a
*/source/tools/*.exe
*AVX2*.exe
*.html
*html*
/OS_Project/assignment2/output.c
/workspace-TSP/TSPArt/TSPArt-grailsPlugins.iml
/workspace-TSP/TSPArt/TSPArt.iml
/workspace-TSP/TSPArt/target/.ignore
/workspace-TSP/TSPArt/.idea/.name
/workspace-TSP/TSPArt/.idea/ant.xml
/workspace-TSP/TSPArt/.idea/compiler.xml
/workspace-TSP/TSPArt/.idea/encodings.xml
/workspace-TSP/TSPArt/.idea/misc.xml
/workspace-TSP/TSPArt/.idea/modules.xml
/workspace-TSP/TSPArt/.idea/scopes/scope_settings.xml
*.swp
*.gch
/workspace-TSP/TSPArt/.idea/vcs.xml
/workspace-TSP/TSPArt/.idea/workspace.xml
/theory/self_printing/a.out
/workspace-TSP/.metadata/.log
*.metadata*
*Servers*
*target-eclipse*
OS_Project/*.o
OS_Project/a.out
*.class
/research/pin/source/tools/ToolUnitTests/obj-intel64/*
/research/pin/source/tools/*/obj-intel64/*
/research/pin/source/tools/ManualExamples/*.log
/research/pin/source/tools/PinPoints/bin-ia32e/*
/research/pin/source/tools/CrossIa32Intel64/obj-ia32/*
